parameters:
    level: 10
    paths:
        - bin
        - config
        - src

    # @see https://github.com/phpstan/phpstan-symfony
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
        consoleApplicationLoader: tests/phpstan/console-application.php
    # @see https://github.com/phpstan/phpstan-doctrine
